#nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#title{
    font-size:2.5rem;
    font-weight: bold;
    color: #4A628A;
    text-align: left;
    font-family: monospace;
    margin-left: 7px;
    display: flex;
    align-items: center;
}
#header{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
}
#header svg{
    flex-shrink: 0;
}
.nav-option{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    color: #4A628A;
    text-align: left;
    font-size: 1.8rem;
    cursor: pointer;
    font-family: monospace;
    transition: all 0.3s ease;
    /* box-shadow: 2px 2px 5px #182234; */
}
.nav-option:hover{
    background-color: rgba(74, 98, 138, 0.1);
}
.nav-option.selected{
    background-color: #4A628A;
    color: #DFF2EB;
}
.nav-option.selected svg{
    color: #DFF2EB;
}
.nav-option svg{
    flex-shrink: 0;
    color: #4A628A;
    transition: color 0.3s ease;
}
.nav-option span{
    white-space: nowrap;
}