services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user123 # Change these to your preference
      - POSTGRES_PASSWORD=password123 # Change these to your preference
      - POSTGRES_DB=MYS # Change these to your preference
    volumes:
      - postgres_data:/var/lib/postgresql/data # <--- PERSISTENCE MAGIC
    networks:
      - app-network
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    container_name: backend-dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3000
      - DATABASE_URL=postgres://user123:password123@postgres:5432/MYS
    depends_on:
      - postgres
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: frontend/my-app/Dockerfile.dev
    container_name: frontend-dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/my-app:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - app-network
    depends_on:
      - backend

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx-reverse-proxy
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
