#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
#App{
display: flex;
flex-direction: row;
width: 100%;
height: 100dvh;
}
#side-nav{
  border-radius: 6px;
  flex:1 ;
  height: 100dvh;
}
#content{
  flex: 5;
  border-radius: 6px;
  margin-left: 1rem;
  height: 100dvh;}